.DS_Store
node_modules
/xampp
/webalizer
/metadata
/img
/dashboard
/.vscode


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip
*.docx
*.pdf
*.xlsx*
*.html
Pagina.php
Galeria/galeriaFontaneria.php
Galeria/galeriaFontaneria.php.bug
Galeria/galeriaJardines.php
Galeria/galeriaPinturas.php
Galeria/thumb.php
Galeria/CodigoGaleria/Escaneo.php
Galeria/CodigoGaleria/css/Galeria.css
Galeria/CodigoGaleria/css/lightbox.css
Galeria/CodigoGaleria/css/screen.css
Galeria/CodigoGaleria/css/VisorImagen.css
Galeria/CodigoGaleria/iconos/borderBottomCenter.png
Galeria/CodigoGaleria/iconos/borderBottomLeft.png
Galeria/CodigoGaleria/iconos/borderBottomRight.png
Galeria/CodigoGaleria/iconos/borderMiddleLeft.png
Galeria/CodigoGaleria/iconos/borderMiddleRight.png
Galeria/CodigoGaleria/iconos/borderTopCenter.png
Galeria/CodigoGaleria/iconos/borderTopLeft.png
Galeria/CodigoGaleria/iconos/borderTopRight.png
Galeria/CodigoGaleria/iconos/close.gif
Galeria/CodigoGaleria/iconos/close.png
Galeria/CodigoGaleria/iconos/closelabel.gif
Galeria/CodigoGaleria/iconos/next_ie6.gif
Galeria/CodigoGaleria/iconos/loading.gif
Galeria/CodigoGaleria/iconos/next.png
Galeria/CodigoGaleria/iconos/nextlabel.gif
Galeria/CodigoGaleria/iconos/pause.gif
Galeria/CodigoGaleria/iconos/prev_ie6.gif
Galeria/CodigoGaleria/iconos/prev.png
Galeria/CodigoGaleria/iconos/prevlabel.gif
Galeria/CodigoGaleria/iconos/start.gif
Galeria/CodigoGaleria/js/builder.js
Galeria/CodigoGaleria/js/effects.js
Galeria/CodigoGaleria/js/jquery-1.11.0.min.js
Galeria/CodigoGaleria/js/jquery-1.11.0.min.map
Galeria/CodigoGaleria/js/lightbox.js
Galeria/CodigoGaleria/js/lightbox.min.js
Galeria/CodigoGaleria/js/lightbox.min.map
Galeria/CodigoGaleria/js/prototype.js
Galeria/CodigoGaleria/js/scriptaculous.js
Galeria/CodigoGaleria/js/visuallightbox.js
Galeria/CodigoGaleria/lightbox/css/lightbox.css
Galeria/CodigoGaleria/lightbox/css/screen.css
Galeria/CodigoGaleria/lightbox/img/loading.gif
Galeria/CodigoGaleria/lightbox/img/close.png
Galeria/CodigoGaleria/lightbox/img/next.png
Galeria/CodigoGaleria/lightbox/img/prev.png
Galeria/CodigoGaleria/lightbox/js/jquery-1.11.0.min.js
Galeria/CodigoGaleria/lightbox/js/jquery-1.11.0.min.map
Galeria/CodigoGaleria/lightbox/js/lightbox.js
Galeria/CodigoGaleria/lightbox/js/lightbox.min.js
Galeria/CodigoGaleria/lightbox/js/lightbox.min.map
Galeria/Imagenes/Fontaneria/44.jpg
Galeria/Imagenes/Fontaneria/56.jpg
Galeria/Imagenes/Fontaneria/64.jpg
Galeria/Imagenes/Fontaneria/292378.jpg
Galeria/Imagenes/Fontaneria/fin-del-juego.jpg
Galeria/Imagenes/Fontaneria/JOSHI.jpg
Galeria/Imagenes/Fontaneria/june-30-08.jpg
Galeria/Imagenes/Fontaneria/Mario Bros Wallpaper.jpg
Galeria/Imagenes/Fontaneria/mario-7up.jpg
Galeria/Imagenes/Fontaneria/nsmb_wp4_1280.jpg
Galeria/Imagenes/Fontaneria/Super_Mario_Bros_3_by_Metadraxis.jpg
Galeria/Imagenes/Fontaneria/Video-Game-Mario-28209.jpg
Galeria/Imagenes/Fontaneria/tumblr_l2sggfngUM1qbydleo1_1280.jpg
Galeria/Imagenes/Fontaneria/Video-Game-Mario-36173.jpg
Galeria/Imagenes/Fontaneria/Video-Game-Mario-41378.jpg
Galeria/Imagenes/Fontaneria/Video-Game-Mario-63573.jpg
Galeria/Imagenes/Jardines/00.jpg
Galeria/Imagenes/Jardines/01.jpg
Galeria/Imagenes/Jardines/02.jpg
Galeria/Imagenes/Jardines/03.jpg
Galeria/Imagenes/Jardines/04.jpg
Galeria/Imagenes/Jardines/05.jpg
Galeria/Imagenes/Jardines/06.jpg
Galeria/Imagenes/Jardines/07.jpg
Galeria/Imagenes/Jardines/08.jpg
Galeria/Imagenes/Jardines/09.jpg
Galeria/Imagenes/Jardines/10.jpg
Galeria/Imagenes/Jardines/11.jpg
Galeria/Imagenes/Jardines/13.jpg
Galeria/Imagenes/Jardines/12.jpg
Galeria/Imagenes/Jardines/14.jpg
Galeria/Imagenes/Jardines/15.jpg
Galeria/Imagenes/Jardines/16.jpg
Galeria/Imagenes/Jardines/17.jpg
Galeria/Imagenes/Jardines/18.jpg
Galeria/Imagenes/Jardines/19.jpg
Galeria/Imagenes/Jardines/20.jpg
Galeria/Imagenes/Jardines/21.jpg
Galeria/Imagenes/Jardines/22.jpg
Galeria/Imagenes/Jardines/23.jpg
Galeria/Imagenes/Jardines/24.jpg
Galeria/Imagenes/Pinturas/1marvel.jpg
Galeria/Imagenes/Pinturas/4bc5bd1963d0c.jpg
Galeria/Imagenes/Pinturas/8.jpg
Galeria/Imagenes/Pinturas/4bc5cea5bf550.jpg
Galeria/Imagenes/Pinturas/121.jpg
Galeria/Imagenes/Pinturas/amazingsman_539_1280.jpg
Galeria/Imagenes/Pinturas/Carnage.jpg
Galeria/Imagenes/Pinturas/comics (2).jpg
Galeria/Imagenes/Pinturas/comics (3).jpg
Galeria/Imagenes/Pinturas/house-of-m-hawkeye.jpg
Galeria/Imagenes/Pinturas/wallpaper-1221.jpg
Galeria/Imagenes/Pinturas/wallpaper-14555.jpg
Galeria/Imagenes/Pinturas/wallpaper-877664.jpg
Galeria/Imagenes/Pinturas/wallpaper-1052250.jpg
Galeria/Imagenes/Pinturas/wallpaper-1263629.jpg
Galeria/Imagenes/Pinturas/wallpaper-1275657.jpg
Galeria/Imagenes/Pinturas/wallpaper-1554229.jpg
Galeria/Imagenes/Pinturas/wallpaper-1574198.jpg
Galeria/Imagenes/Pinturas/wallpaper-1586008.jpg
Galeria/Imagenes/Pinturas/wallpaper-1681788.jpg
Galeria/Imagenes/Pinturas/wallpaper-1684070.jpg
Galeria/Imagenes/Pinturas/wallpaper-1729073.jpg
Galeria/Imagenes/Pinturas/wallpaper-1855185.jpg
Galeria/Imagenes/Pinturas/wallpaper-1755802.jpg
Galeria/Imagenes/Pinturas/wallpaper-1859769.jpg
Galeria/Imagenes/Pinturas/wallpaper-1869082.jpg
Galeria/Imagenes/Pinturas/wallpaper-1953432.jpg
Galeria/Imagenes/Pinturas/wallpaper-1957569.jpg
Galeria/Imagenes/Pinturas/wallpaper-1957574.jpg
Galeria/Imagenes/Pinturas/wallpaper-1968980.jpg
Galeria/Imagenes/Pinturas/wallpaper-1977763.jpg
Galeria/Imagenes/Pinturas/wallpaper-2217059.jpg
Galeria/Imagenes/Pinturas/wallpaper-2228610.jpg
Galeria/Imagenes/Pinturas/wallpaper-2230551.jpg
Galeria/Imagenes/Pinturas/wallpaper-2230553.jpg
Galeria/Imagenes/Pinturas/wallpaper-2230680.jpg
Galeria/Imagenes/Pinturas/wallpaper-2282586.jpg
Galeria/Imagenes/Pinturas/wallpaper-2322631.jpg
Galeria/Imagenes/Pinturas/wallpaper-2381830.jpg
Galeria/Imagenes/Pinturas/wallpaper-2443812.jpg
Galeria/Imagenes/Pinturas/wallpaper-2513899.jpg
Galeria/Imagenes/Pinturas/war-machine.jpg
